.loaderContainer {
  /* position: fixed;
  top: 0;
  left: 0; */
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(/src/assets/images/mob/main-mob-img-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.progressCircle {
  width: 273px;
  height: 273px;
  border-radius: 100%;
  border: 6px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.logo {
  width: 190px;
  height: 50px;
  animation: fadeIn 0.8s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .loaderContainer {
    min-width: 768px;
    background-image: url(/src/assets/images/tab/main-tab-img-min.png);
  }

  .progressCircle {
    width: 399px;
    height: 399px;
    border-radius: 100%;
    font-size: 80px;
  }

  .logo {
    width: 374px;
    height: 100px;
    animation: fadeIn 0.8s ease-in-out forwards;
  }
}

@media screen and (min-width: 1280px) {
  .loaderContainer {
    min-width: 1280px;
    background-image: url(/src/assets/images/desk/main-desk-img-min.png);
  }

  .progressCircle {
    width: 398px;
    height: 398px;
  }
}
