.form {
  display: flex;
  flex-direction: column;
  width: 295px;
}

.form::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 0px 12px 12px;
  height: 42px;
  margin-bottom: 10px;
}

.confirm {
  margin-bottom: 24px;
}

.submitBtn {
  border: none;
  border-radius: 30px;
  padding: 12px 99px;
  width: 295px;
  height: 42px;
  background-color: #f6b83d;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
}

.submitBtn:hover {
  background-color: #f9b020;
}

.loginLink {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
  text-align: center;
}

.login {
  font-weight: 700;
  text-decoration: none;
  color: #f6b83d;
}

.login:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .form {
    width: 424px;
  }

  .input {
    padding: 16px 0px 16px 16px;
    height: 52px;
    margin-bottom: 16px;
  }

  .submitBtn {
    width: 424px;
    height: 52px;
  }

  .form::placeholder {
    font-size: 16px;
  }
}
