.authNav {
  display: none;
}

@media screen and (min-width: 768px) {
  .authNav {
    display: flex;
    gap: 8px;
  }

  .login,
  .registration {
    border-radius: 30px;
    padding: 15px 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .login {
    color: #fff;
    background: #f6b83d;
  }

  .registration {
    color: #f6b83d;
    background: #fff4df;
  }

  .active {
    font-weight: bold;
    text-decoration: underline;
  }
}
