.burgerMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background: #ffffff;
  display: none;
  flex-direction: column;
}

.open {
  display: flex;
}

.closeMenu {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  align-self: flex-end;
}

.closeIcon {
  display: inline-block;
  width: 32px;
  height: 32px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.menuAuthNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: normal;
  color: #666;
}

.menuNav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menuNav a {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 15px 20px;
  width: 119px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}

.menuNav a:hover {
  border: 1px solid #f6b83d;
}

.menuAuthNav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 768px) {
  .burgerMenu {
    width: 376px;
  }
}

@media (min-width: 1280px) {
  .burgerMenu {
    display: none;
  }
}
