.nav {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 176px auto 280px auto;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    margin: 294px auto 395px auto;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    margin: 0 313px 0 auto;
  }

  .news,
  .notices,
  .friends {
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #262626;
  }

  .active {
    border: 1px solid #f6b83d;
  }
}
